/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
summary {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--color-white: #fff;
	--color-transwhite: rgba(255, 255, 255, 0.95);
	--color-black: #000;
	--color-lightgrey: #f4f4f4;
	--color-grey: #eaeaea;
	--color-textgrey: #bebebe;
	--color-psgrey: #333;
	--color-transgrey: rgba(0, 0, 0, 0.2);
}

/*********************/
/* FONTS */
/*********************/

@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);

@font-face {
	font-family: 'Graphik Web Regular';
	src: url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot');
	src: url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix')
			format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2')
			format('woff2'),
		url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff')
			format('woff'),
		url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf')
			format('truetype'),
		url('//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular')
			format('svg');
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

input {
	border: none;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: 'Graphik Web Regular';
	font-size: 13px;
}

h2 {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 0.8em;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 1.5em;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	position: relative;
	overflow: hidden;
	align-self: flex-start;
}

p a {
	margin-bottom: -0.5em;
}

a::after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	background: var(--color-black);
	position: absolute;
	transition: all 0.5s 0s ease;
	bottom: 0;
	left: 0;
}

a:hover::after {
	left: 100%;
}

a.non-active::after {
	left: 100%;
}
a.non-active:hover::after {
	left: 0;
}

ul {
	list-style-type: none;
}

/* //////////////////////HEADER//////////////////////// */

header {
	padding: 1em;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

header nav:nth-of-type(1) {
	display: flex;
	padding: 1.5em;
	border: 1px solid var(--color-grey);
	background: var(--color-transwhite);
}

header nav:nth-of-type(1) ul {
	display: flex;
	align-items: center;
	gap: 3em;
}

header nav:nth-of-type(1) ul:last-child {
	margin-left: auto;
}

header nav:nth-of-type(1) ul li {
	line-height: 1em;
}

header nav:nth-of-type(1) ul li a {
	display: inline-block;
	margin-bottom: -0.3em;
}

header nav:nth-of-type(1) ul li a::after {
	left: -100%;
}

header nav:nth-of-type(1) ul li a:hover::after {
	left: 0em;
}

header nav:nth-of-type(1) ul:nth-of-type(1) li:nth-of-type(1) {
	width: 7em;
}

header nav:nth-of-type(1) ul:nth-child(1) li:nth-child(1) a:after {
	content: none;
}

header nav:nth-of-type(1) ul li svg {
	width: 100%;
}

header nav:nth-of-type(1) ul:last-child li:last-child {
	color: var(--color-white);
	background-color: var(--color-black);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	padding: 0.6em;
	text-align: center;
}
header nav:nth-of-type(1) ul:last-child li:last-child a {
	margin-bottom: 0;
}

header nav:nth-of-type(1) button {
	display: none;
	background-image: url('/images/burger.svg');
	height: 2em;
	width: 2em;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 1025px) {
	header {
		padding: 0.5em;
	}
	header nav:nth-of-type(1) {
		padding: 1em;
		justify-content: space-between;
	}
	header nav:nth-of-type(1) button {
		display: block;
	}
	header nav:nth-of-type(1) ul li {
		display: none;
	}
	header nav:nth-of-type(1) ul:nth-of-type(2) {
		margin-left: 0;
	}
	header nav:nth-of-type(1) ul:nth-of-type(1) li:nth-of-type(1) {
		display: block;
	}
	header nav:nth-of-type(1) ul:last-child li:last-child {
		display: block;
	}
}
/* //////////////////////RESPONSIVE MENU//////////////////////// */
header nav:nth-of-type(2) {
	background: var(--color-white);
	width: 100%;
	height: 0vh;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease;
	transition: all 0.5s 0s ease;
}
header nav:nth-of-type(2).open {
	height: 95vh;
}
header nav:nth-of-type(2) ul {
	width: 100%;
}
header nav:nth-of-type(2) a {
	place-self: center;
}
header nav:nth-of-type(2) ul:nth-of-type(1) li {
	padding: 2em;
	border-bottom: 1px solid var(--color-grey);
	font-size: 15px;
}
header nav:nth-of-type(2) ul:nth-of-type(1) li a::after {
	display: none;
}

header nav:nth-of-type(2) ul:nth-of-type(2) {
	place-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em;
}
header nav:nth-of-type(2) ul:nth-of-type(2) li a {
	margin-top: 1em;
}

header nav:nth-of-type(2) ul:nth-of-type(2) li a::after {
	display: none;
}

@media only screen and (min-width: 1025px) {
	header nav:nth-of-type(2) {
		display: none;
	}
}

/* //////////////////////MAIN//////////////////////// */
main {
	margin: 0 3em;
}

main > section {
	margin: 5.5em 0;
}

@media only screen and (max-width: 1025px) {
	main {
		margin: 0 1em;
	}
}
/* //////////////////////FOOTER//////////////////////// */
footer {
	margin: 0 5.5em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 3em;
}

footer section:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: 3;
}

footer section:nth-of-type(6) {
	grid-column-start: 1;
	grid-column-end: 3;
}

footer section:nth-of-type(1) p {
	max-width: 32em;
}

footer section form {
	font-size: 13px;
	line-height: 1;
	display: grid;
	grid-template-columns: 6em 80% 1fr;
	gap: 2em;
}

footer section form input[type='email'] {
	border-bottom: 1px solid var(--color-transgrey);
}

footer section form input[type='submit'] {
	display: inline-block;
	background: none;
	text-align: left;
	padding-bottom: 0.3em;
	align-self: flex-start;
	position: relative;
	width: fit-content;
}

footer section:nth-of-type(7) {
	grid-column-start: 4;
	grid-column-end: 5;
}

footer section:nth-of-type(7) ul {
	display: flex;
}

footer section:nth-of-type(7) ul li {
	width: 2.5em;
	margin-right: 1em;
}

footer section:nth-of-type(7) ul li svg {
	width: 100%;
	filter: grayscale(100%);
}

footer section:nth-of-type(8) {
	grid-column-start: 6;
	grid-column-end: 7;
	font-size: 10px;
}

footer section:nth-of-type(9) {
	font-size: 11px;
	color: var(--color-textgrey);
	margin-top: 3em;
}

footer section:nth-child(9) p a:after {
	background-color: var(--color-textgrey);
}

footer section:nth-of-type(10) {
	grid-row-start: 4;
}

footer section:nth-of-type(10) form {
	margin-top: 3em;
}

footer section:nth-of-type(10) form select {
	width: fit-content;
	background-color: var(--color-lightgrey);
	border: none;
	padding: 0.5em;
	color: var(--color-psgrey);
	font-size: 16px;
}

@media only screen and (max-width: 1025px) {
	footer {
		margin: 0 1em;
		grid-template-columns: 1fr;
	}
	footer section:nth-of-type(n) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: auto;
		position: relative;
	}
	footer section h2 {
		font-size: 13px;
		font-weight: 500;
		border-bottom: 1px solid var(--color-transgrey);
		padding-bottom: 1em;
		position: relative;
	}
	footer section.open h2 {
		border-bottom: 0;
	}
	footer section button {
		position: absolute;
		right: 1em;
		top: 0;
		border: 0;
		background-color: transparent;
	}
	footer section button:after {
		content: '+';
	}
	footer section.open button:after {
		content: '-';
	}
	footer section form {
		display: block;
	}
	footer section:nth-of-type(7) ul li {
		margin-right: 0;
	}

	footer section:nth-of-type(1) p {
		overflow: hidden;
		max-height: 0;
		-webkit-transition: all 0.5s 0s ease;
		-moz-transition: all 0.5s 0s ease;
		-o-transition: all 0.5s 0s ease;
		transition: all 0.5s 0s ease;
	}

	footer section:nth-of-type(1).open p {
		max-height: 10em;
	}
	footer section ul {
		overflow: hidden;
		max-height: 0;
		-webkit-transition: all 0.5s 0s ease;
		-moz-transition: all 0.5s 0s ease;
		-o-transition: all 0.5s 0s ease;
		transition: all 0.5s 0s ease;
	}

	footer section.open ul {
		max-height: 10em;
	}
}
