/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 0;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #0c0c0c;
	--color-white: #fff;
	--color-black: #000;
}

/*********************/
/* FONTS */
/*********************/

@font-face {
	font-family: 'Graphik';
	src: url(./fonts/GraphikRegular.otf);
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: 'Graphik';
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

header {
	margin: 1em;
}

header nav {
	background-color: var(--color-white);
	display: flex;
	padding: 1.5em;
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 3em;
}

header nav ul:last-child {
	margin-left: auto;
}

header nav ul li {
	line-height: 1em;
}

header nav ul:nth-child(1) li:nth-child(1) {
	width: 7em;
}

header nav ul li svg {
	width: 100%;
}

header nav ul:last-child li:last-child {
	color: var(--color-white);
	background-color: var(--color-black);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	padding: 0.6em;
	text-align: center;
}
